<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ahmadali's Resume</title>
    <meta name="description" content="simple CV example created with HTML and CSS">
    <meta name="author" content="Fly Nerd">
    <link rel="icon" href="./img/icons8-resume-64.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <div>
        <img src="./img/Avatar+white.png" />

    </div>
    <h1>Akhmadali G'ulomov</h1>
    <form action="/message" method="get">
        <input type="button" value="Send Message">
    </form>
    <section>
        <p>Assalomu alaykum, I am a backend developer who is very interested in programming and likes to solve problems of
            various complexity. Of course, like many new developers, I am eager to learn new things.For me, learning Java
            deeper and deeper, learning its new frameworks is simply exciting. I am also interested in Leetcode platform. I have
            330 solved issues in my account. I am also interested in deep learning of mathematics. I also took part in science
            olympiads in mathematics. My highest result was 1st place in district stage, 3rd place in regional stage.Now I am in
            the process of learning English in a training course. My level is elementary.</p>
        <a href="https://t.me/ahmadaliuzb" target="_blank">
            <i class="fa fa-send-o"></i>
        </a>
        <a href="https://github.com/ahmadaliuzb" target="_blank">
            <i class="fab fa-github-alt"></i>
        </a>

        <a href="https://www.facebook.com/profile.php?id=100087246487103" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/AhmadaliGulomov" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://goo.gl/maps/Z9c57YEiwtUCuY2T9" target="_blank">
            <i class="fa fa-home"></i>
        </a>





    </section>
</header>
<main>
    <section>
        <h2>Courses</h2>
        <article class='course'>
            <div class='title'>
                <h4>Foundation(GITA)-Java Basic</h4>
            </div>
            <div class="descrition">
                <p>During this course I was able to get the necessary knowledge to get into programming. This course helped me a lot to get into the field of programming.</p>
            </div>
        </article>
        <article class='course'>
            <div class='title'>
                <a href="https://www.udemy.com/course/spring-hibernate-tutorial">
                    <h4>Udemy: Spring & Hibernate for Beginners (includes Spring Boot)
                    </h4>
                </a>
            </div>

            <div class="descrition">
                <p>I finally got into real programming. It was definitely a joy to connect it with udemy. I think I learned a lot from my teacher Chad Darby. This course was a great step to get into Spring, the most famous Java framework.
                    During the course, I deeply studied the basics of Spring Framework, Spring Boot, Apsring Security, Spring MVC, Thymeleaf, Hibernate, SQL, JSP, Rest API
                </p>
            </div>
        </article>

        <article class='course'>
            <div class='title'>
                <a href="https://mohirdev.uz/">
                    <h4>Mohirdev platform:HTML+CSS</h4>
                </a>
            </div>
            <div class="descrition">
                <p>While learning the backend, I also needed the basics of the frontend. Therefore, I also learned the frontend direction at an average level. And this allows me to show my work more perfectly.</p>
            </div>
        </article>

    </section>
    <section>
        <h3>Skills</h3>
        <div class='skills'>
            <div class='column'>
                <h4>Good knowledge</h4>
                <ul>
                    <li>Java 8+</li>

                    <li>Spring Framework Core
                        <ul>
                            <li>Configuration</li>
                            <li>Spring MVC</li>
                            <li>Dependency Injection</li>
                            <li>Available Annotations</li>
                        </ul>
                    </li>

                    <li>Spring Boot</li>

                    <li>Spring MVC</li>

                    <li>Spring Data
                        <ul>
                            <li>Spring Data JDBC</li>
                            <li>Hibernate</li>
                            <li>Spring Data JPA</li>
                        </ul>
                    </li>
                    <li>Spring Security
                        <ul>
                            <li>Form Auth</li>
                            <li>Basic Auth</li>
                            <li>JWT</li>
                            <li>Authentication and Authorization</li>
                        </ul>
                    </li>

                    <li>Microservices
                        <ul>
                            <li>Eureak Server</li>
                            <li>Open Feign</li>
                        </ul>

                    </li>
                    <li>SQL
                        <ul>
                            <li>Postgresql</li>
                            <li>MySql</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class='column'>
                <h4>Basic knowledge</h4>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Thymeleaf</li>
                </ul>
            </div>
            <div>
                <h4>Languages</h4>
                <p>🇺🇿 Uzbek - Native speaker</p>
                <p>🇬🇧 English - I'm learning</p>
                <p>🇷🇺 Russian - Beginner</p>
            </div>
        </div>
    </section>

    <section>
        <h3>Education</h3>
        <article>
            <div class='school'>
                <span>2010-2019</span> <strong>General secondary school</strong>
            </div>
            <div class="descrition">
                During this period, I was engaged in continuous mathematics
            </div>
        </article>

        <article>
            <div class='school'>
                <span>2019-2021</span> <strong>TUIT FB Academic Lyceum</strong>
            </div>
            <div>
                I was mainly engaged in exact sciences and computer technologies
            </div>
        </article>

        <article>
            <div class='school'>
                <span>2021-present</span> <strong>TUIT</strong>
            </div>
            <div>
                My major is software engineering. Now we are studying cyber security technologies
            </div>
        </article>
    </section>
    <section>
        <h3>Experience</h3>
        <article>
            <div class='job-title'>
                I don't have any experience yet, and if I get a chance to increase my experience, I will definitely not use it. But I have independently developed the following projects:
            </div>

        </article>

        <div class='skills'>
            <div class="column">
                <ul>
                    <li><a href="https://github.com/ahmadaliuzb/qalampir-uz1" target="_blank">qalampir-uz-demo</a>
                        <p>During this project, I increased my experience in spring framework. In this
                            project, I used Spring MVC, Spring Security, JWT, Postgresql 12, Spring Data
                            JPA technologies. This project made me grow my degree.This application is still
                            under development</p>
                    </li>
                    <li><a href="https://github.com/ahmadaliuzb/bank-akh" target="_blank">bank-demo</a>
                        <p>During the development of this project, I further gained my knowledge of
                            Testing (partially), Validation, and Transactional. This application is still under
                            development</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
<footer>
    <p>Created by: <a href="https://t.me/ahmadaliuzb" target="_blank">
        <i class="fa fa-send-o"></i>
    </a> / 2022 </p>
</footer>
</body>
</html>
